<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android0211">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera2" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission xmlns:tools="http://schemas.android.com/tools"
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MOMSEE"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <receiver
            android:name=".Refactor.Receiver.myReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="SEND_BROAD_CAST" />
            </intent-filter>
        </receiver>

        <service android:name=".Refactor.Service.msFCMService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Refactor.Service.overlayService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <receiver
            android:name=".Refactor.Receiver.msDeviceAdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLE_REQUESTED" />
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".Refactor.Receiver.mBroadCastReceiver">
            <intent-filter>
                <action android:name="SEND_BROAD_CAST" />
            </intent-filter>
        </receiver>
        <receiver android:name=".Refactor.Activity.Child.childMission$mBroadcastReceiver">
            <intent-filter>
                <action android:name="SEND_BROAD_CAST" />
            </intent-filter>
        </receiver>
        <receiver android:name=".Refactor.Activity.Child.childMain$mBroadcastReceiver">
            <intent-filter>
                <action android:name="SEND_BROAD_CAST" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCwdrCO8axM7igdMB8-wZsOneKd5dbXKUg" />

        <activity
            android:name=".Refactor.Activity.loadingActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Refactor.Activity.loginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Refactor.Util.Game.MathGame.MathGameActivity" />
        <activity android:name=".Refactor.Activity.Parent.parentMaps" />
        <activity android:name=".Refactor.Activity.Parent.parentPermission" />
        <activity android:name=".Refactor.Activity.Parent.parentMain" />
        <activity
            android:name=".Refactor.Util.Game.EnglishGame.StartCsc"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Refactor.Util.Game.EnglishGame.ActivityStudy"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".Refactor.Util.Game.EnglishGame.ActivityStudy2"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".Refactor.Util.Game.EnglishGame.ActivityStudy3"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".Refactor.Util.Game.EnglishGame.ActivityStudy5"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".Refactor.Util.Game.EnglishGame.About"
            android:screenOrientation="landscape" />
        <activity android:name=".Refactor.Activity.selectActivty" />
        <activity android:name=".Refactor.Activity.Parent.parentChildList" />
        <activity android:name=".Refactor.Activity.Child.childPermission" />
        <activity android:name=".Refactor.Activity.Child.childMain" />
        <activity android:name=".Refactor.Activity.Child.childMission" />
        <activity android:name=".Refactor.Activity.Child.childName" />
        <activity android:name=".Refactor.Activity.Child.childChatting" />
        <activity android:name=".Refactor.Activity.Parent.parentChatting" />
        <activity android:name=".Refactor.Activity.chatboxActivity" />
        <activity android:name=".Refactor.Activity.cameraActivity" />
        <activity android:name=".Refactor.Activity.Parent.parentCheckImage" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android0211"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>